# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
*.db

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test
.pytest_cache/
backend/test-venv/

# Data
backend/data/pharma.db
